<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinData</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">FinData</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1><i>FinData</i></h1>
        <p>O hub da equipe de dados da Sefin/PCR.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Monitoramento</h2>
          <p>
            Projetos monitorados pelo GAB
          </p>
          <p><a class="btn btn-primary" href="dashboards/monitoramento" role="button">Acessar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Arrecadação Tributária</h2>
          <p>
            Arrecadação de IPTU, ISS, ITBI Taxas e demais receitas advindas de pagamentos de DAM (base quente)
          </p>
          <p><a class="btn btn-primary" href="dashboards/base-quente" role="button">Acessar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Capag</h2>
          <p>
            A análise da capacidade de pagamento (CAPAG) apura a situação fiscal dos Entes Subnacionais que querem contrair novos empréstimos com garantia da União.
          </p>
          <p><a class="btn btn-primary" href="dashboards/capag" role="button">Acessar &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>CAF</h2>
          <p>
            Cons
